.logo-container{
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0%;
    padding: 0%;
    top: 0;
    right: 10%;
    .lottie{
        height: auto;
        width: 35%;
        position: absolute;
        top:0;
        right:0;
        margin: auto;
    }
}
